@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

body{
    display:flex;
    flex-direction:column;
    margin:0;
    font:14px Roboto,sans-serif;
}
.header{
    background-color:#1F2937;
    font:14px Roboto, sans-serif;
    padding:0px 100px 50px 100px;


}

.logo{
    padding:10px;
    color:#F9FAF8;
    font-size:24px;
    font-weight:700;
}
.box1{
    font-size:48px;
    color:#F9FAF8;
    font-weight:900;
}
ul{
    list-style:none;
    display:flex;
    padding:10px;
margin-top: 0;
    gap:10px;
    color:#7a7a7a;
    
}
li{
    border: 2px solid transparent;
}
li:hover{
    border:2px solid #F9FAF8;
    border-radius:5px;
}
nav{
    display:flex;
    justify-content:space-between;
}
.sec1{
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-top:50px;
    text-wrap:wrap;
    flex-grow:1;
    color:#F9FAF8;
}
#button{
    max-width:100px;
    background-color:#3882F6;
    border-radius:5px;
    box-shadow: 0;
    border:0;
    padding:5px;
    font-weight:700;
    color:#F9FAF8;
}
#button:hover{
    border:5px solid
}
.top{
    display:flex;
    justify-content: space-between;
    gap:5%;
}
.sec2{
    background-color: #4d4d4d;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:10px;
    flex-grow:2;
    padding:40px;
}
.content1{
    display:flex;
    flex-direction:column;
    gap:10px;
    padding:50px;
    padding-bottom:100px;
    color:#1F2937;


}
.cards{
    display:flex;
    justify-content:center;
    align-items:center;
    flex:1 1 auto;
    text-wrap:wrap;
    gap:30px;
    font-weight:lighter;
}
.box{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    text-align: center;
    flex-basis:180px;
}
img{
    height:180px;
    width:180px;
    border-radius:10px;
    border:5px solid #2b548d;
}

.content2{
    display:flex;
    flex-direction:column;
    background-color:#bebcbc;
    padding:5% 20% 5% 20%;
    font-size:36px;
    color:#4a4a4a;
    font-style:italic;
}
.quote{
  font-family: 'Poppins', sans-serif;
    font-weight:400;
}
.author{
    align-self:flex-end;
    font-size:20px;
    font-weight:900;
    font-style:normal;
}
